# UNIT 1 Python Fundamentals

In [2]:
print(" Hello World ")

 Hello World

In [6]:
print(" Hello Students ")

 Hello Students

In [5]:
a=33
a

33

In [7]:
#variable and data type
var1 =

SyntaxError: invalid syntax (3286118931.py, line 2)

In [29]:
A= 56 #INT

B=99.99 #FLOAT
C="CKPCET" #STRINGE
D= True #BOOL
E= 254/5
F= 0/1
G= "HUI"
H= frozenset({"apple", "banana", "cherry"})
I= False
J= 6.012
K= None
L= ["apple", "banana", "cherry"]
M= ("apple", "banana", "cherry")
N= {"name" : "John", "age" : 36} #dict
O= range(6) #range

In [9]:
A

56

In [10]:
B

100.0

In [11]:
C

'CKPCET'

In [13]:
B

99.99

In [14]:
C

'CKPCET'

In [15]:
D

True

In [16]:
type(A)

int

In [18]:
type(B)

float

In [19]:
type(C)

str

In [20]:
type(D)

bool

In [23]:
type(E)

float

In [24]:
type(F)

float

In [30]:
type(G)

str

In [26]:
type(H)

frozenset

In [27]:
type(I)

bool

In [31]:
type(J)

float

In [32]:
type(K)

NoneType

In [33]:
type(L)

list

In [34]:
type(M)

tuple

In [35]:
type(N)

dict

In [36]:
type(O)

range

In [37]:
#MATHEMATICAL OPERAIONS ON VARIABLESA

In [41]:
VAR1= B/A
print(VAR1)
type(VAR1)

1.7855357142857142

float

In [43]:
x=A+B
x

155.99

In [45]:
h=A*B
h

5599.44

In [46]:
u=A%B
u

56.0

In [48]:
i=B**A
i

9.94415372316688e+111

In [59]:
hui=((A*(A+B))-J)+A
hui

8785.428

In [60]:
h = int(input("Enter the value for h : "))
u = int(input("Enter the value for u : "))
i = int(input("Enter the value for i : "))

Enter the value for h : 5
Enter the value for u : 4
Enter the value for i : 3

In [63]:
hui=h+u+i
print(" hui =",hui)

 hui = 12

In [64]:
i = int(input("Enter the value for i : "))
l = int(input("Enter the value for l : "))
u = int(input("Enter the value for u : "))

Enter the value for i : 1
Enter the value for l : 2
Enter the value for u : 3

In [65]:
ilu=u-l-i
print(" ilu =" ,ilu)

 ilu = 0

In [79]:
#string concatenation(connecting all the data when given data is in parts)
str1="c.k "
str2="Pithawalla"
str3=str1+str2
str3

'c.k Pithawalla'

In [80]:
str1="Yash "
str2="Prajapati"
str3=str1+str2
str3

'Yash Prajapati'

In [81]:
str1="Yash "
str2="<3 "
str3="Hui"
str4=str1+str2+str3
print(str1)
print(str2)
print(str3)
print("The string concatenation of above 3 string gives",str4)

Yash
<3
Hui
The string concatenation of above 3 string gives Yash <3 Hui

In [82]:
str1="Yash "
str2="Prajapati"
str3=str1+str2
print(str1)
print(str2)
str3

Yash
Prajapati

'Yash Prajapati'

In [84]:
print(len(str3))

14

In [85]:
#string slicing
str3[0:13]

'Yash Prajapat'

In [86]:
#string slicing
str3[5:14]

'Prajapati'

In [87]:
#string slicing
str3[0:4]

'Yash'

In [88]:
#string slicing
str3[0:14]

'Yash Prajapati'

In [101]:
#creating tupl

tup1 =("yash", 22, "Surat", 53.9, "Home", 1353)
print(tup1)
print(type(tup1))

('yash', 22, 'Surat', 53.9, 'Home', 1353)
<class 'tuple'>

In [93]:
tup1[4]

'Home'

In [94]:
tup1[3]

53.9

In [95]:
tup1[1:4]

(22, 'Surat', 53.9)

In [96]:
tup1[0]

'yash'

In [98]:
tup1[0:3]

('yash', 22, 'Surat')

In [102]:
tup2=("python", 594)

tup3= tup1+tup2
print(tup3)

('yash', 22, 'Surat', 53.9, 'Home', 1353, 'python', 594)

In [104]:
#creartimg list 
lst1=["hui", 45, "huuii", 5689 ]
print(lst1)
print(type(lst1))

['hui', 45, 'huuii', 5689]
<class 'list'>

In [109]:
len(lst1)

3

In [110]:
lst1.remove(45)

ValueError: list.remove(x): x not in list

In [108]:
lst1

['hui', 'huuii', 5689]

# Disctionary

In [113]:
dict1= {"Team" : "Nova", "Power" : "Mind", "Members" : "17", "Leader" : "Yash"}

In [114]:
print(dict1)

{'Team': 'Nova', 'Power': 'Mind', 'Members': '17', 'Leader': 'Yash'}

In [115]:
!pip install <package name>
!pip install ckpcet
!conda install <package name>

The syntax of the command is incorrect.
ERROR: Could not find a version that satisfies the requirement ckpcet (from versions: none)
ERROR: No matching distribution found for ckpcet
The syntax of the command is incorrect.

# Python Conditional Statement

In [116]:
#if statement
num=5
if num > 0:
    print(num, "is a positive number")
    print("This statement is true ")

5 is a positive number
this statement is true

In [117]:
#if statement
num = int(input("Enter the value for num : "))
if num > 0:
    print(num, "is a positive number")
    print("This statement is true ")

Enter the value for num : 6
6 is a positive number
This statement is true

In [118]:
#if statement
num = int(input("Enter the value for num : "))
if num > 0:
    print(num, "is a positive number")
    print("This statement is true ")
else :
    print("Negative Number")

Enter the value for num : -6
Negative Number

In [ ]:
#if statement
num = int(input("Enter the value for num : "))
if num > 0:
    print(num, "is a positive number")
    print("This statement is true ")
else :
    print("Negative Number")